<div class="row" ng-show="selectedWord.partOfSpeech && parsing">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{selectedWord.partOfSpeech}} &nbsp;</div>
      <table class="table table-bordered parsing table-condensed" style="table-layout:fixed;">
        <thead>
          <tr>
            <th ng-repeat="parse in parsing | orderBy:'order'" style="width: 12%;">
              {{parse.label}}
              <div class="parse-info">
                <i class="glyphicon glyphicon-question-sign"></i>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="tmp in [0,1,2,3,4,5]">
            <td ng-repeat="(key, parse) in parsing | orderBy:'order'" ng-class="{success: selectedWord.grammar[parse.key] && selectedWord.grammar[parse.key] == parse.options[tmp], active: selectedWord.grammar[parse.key] && selectedWord.grammar[parse.key] == parse.options[tmp]}">
              <span>
                {{parse.options[tmp]}}
              </span>
              <div class="parse-info" ng-show="parse.options[tmp]">
                <i class="glyphicon glyphicon-question-sign"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>