* { box-sizing: border-box }

body {
  background-color: #F9F6ED;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.opaque-by-default {
  opacity: 0.05;
  margin-bottom: 6px; /* move this */
}

header {
  display: block;
  font-weight: bold;
  opacity: 1;
}

parse-categories .active {
  opacity: 1;
}

parse-categories header {
  margin-bottom: 6px;
}

word {
  padding: 2px;  
}

.paragraphs .active {
  background-color: #1471D2;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #1470D2),
    color-stop(1, #1453D1)
  );
  background-image: -o-linear-gradient(bottom, #1470D2 0%, #1453D1 100%);
  background-image: -moz-linear-gradient(bottom, #1470D2 0%, #1453D1 100%);
  background-image: -webkit-linear-gradient(bottom, #1470D2 0%, #1453D1 100%);
  background-image: -ms-linear-gradient(bottom, #1470D2 0%, #1453D1 100%);
  background-image: linear-gradient(to bottom, #1470D2 0%, #1453D1 100%);
  color: white;
  border-radius: 3px;
}

.go-previous-button {
  padding-top: 28px;
}

.go-next-button {
  padding-bottom: 28px;
}

.go-previous-button,
.go-next-button {
  opacity: 0;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.go-previous-button:hover,
.go-next-button:hover {
  opacity: 1;
}

layout {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.reading-width {
  max-width: 650px;
  margin: auto;  
}

.paragraphs {
  line-height: 1.8em;
  font-size: 1.75em;
}

input[type=search] {
  font-size: 16px;
  line-height: 1.2em;
  outline: none;
  margin-top: 5px;
  width:90%;
}

.paragraphs a {
  text-decoration: none;
  color: black;
}

.paragraphs a:not(.active):hover {
  background-color: #EDE7DF;
  border-radius: 3px;
}

books {
  padding-bottom: 20px;
  font-size: .9em;
  overflow: scroll;
}

#books-menu {
  width: 160px;
  background-color: #2B3956;
  color: white;
}

#books-menu a {
  text-decoration: none;
  display: block;
  padding: 5px 8px;
  color: #AFBED1;
}

#books-menu a:first-of-type {
  padding-top: 8px;
}

#books-menu a:last-of-type {
  padding-bottom: 8px;
}

#books-menu a:hover {
  color: white;
  
}

#books-menu a.active,
#books-menu a:active {
  color: white;
}

.audio-container {
  text-align: center;
}

audio {
  margin-top: 4px;
  width: 100%;
  max-width: 650px;
}

.chapter {
  overflow-y: scroll;
}

article p:first-of-type {
  margin-top: 6px;
}

article p:last-of-type {
  margin-bottom: 6px;
}

.flex {
display: -webkit-flex;
display: flex;
}

.flex-row {
-webkit-flex-direction: row;
flex-direction: row;
}

.flex-column {
-webkit-flex-direction: column;
flex-direction: column;
}

.flex-wrap {
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
}

.align-items-center {
-webkit-align-items: center;
align-items: center;
}

.justify-content-center {
-webkit-justify-content: center;
justify-content: center;
}

.flex-1 { flex: 1; -webkit-flex: 1; }
.flex-2 { flex: 2; -webkit-flex: 2; }
.flex-3 { flex: 3; -webkit-flex: 3; }
.flex-4 { flex: 4; -webkit-flex: 4; }
.flex-5 { flex: 5; -webkit-flex: 5; }
.flex-6 { flex: 6; -webkit-flex: 6; }
.flex-7 { flex: 7; -webkit-flex: 7; }
.flex-8 { flex: 8; -webkit-flex: 8; }
.flex-9 { flex: 9; -webkit-flex: 9; }
.flex-10 { flex: 10; -webkit-flex: 10; }
.flex-11 { flex: 11; -webkit-flex: 11; }
.flex-12 { flex: 12; -webkit-flex: 12; }
.flex-13 { flex: 13; -webkit-flex: 13; }
.flex-14 { flex: 14; -webkit-flex: 14; }
.flex-15 { flex: 15; -webkit-flex: 15; }
.flex-16 { flex: 16; -webkit-flex: 16; }
.flex-17 { flex: 17; -webkit-flex: 17; }
.flex-18 { flex: 18; -webkit-flex: 18; }
.flex-19 { flex: 19; -webkit-flex: 19; }
.flex-20 { flex: 20; -webkit-flex: 20; }

/* http://stackoverflow.com/a/16771693/176758 */

.spinner {
    height: 32px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
