<div class="go-previous-button">
  <img src="/img/arrow-up.svg" style="width: 32px;height:32px;opacity: 0.1" />
</div>

<div class="paragraphs">
  {{#unbound each paragraph in paragraphs}}
    <p>
      {{#unbound each verse in paragraph}}
        {{#unbound each word in verse.words}}
          {{#link-to 'greekWord' verse word}}{{unbound word.raw}}{{/link-to}}
        {{/unbound}}
      {{/unbound}}
    </p>
  {{/unbound}}
</div>

<div class="go-next-button">
  <img src="../img/arrow-down.svg" style="width: 32px;height:32px;opacity: 0.1" />
</div>