<!DOCTYPE html>
<html ng-app="app">
<head>
  <script src="vendor/jquery/index.js"></script>
  <link href="vendor/bootstrap/index.css" rel="stylesheet" type="text/css" />
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/parser.css" rel="stylesheet" type="text/css" />
  <!-- <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script> -->
  <script src="vendor/angularjs/index.js"></script>
  <script src="vendor/Bible-Passage-Reference-Parser/en_bcv_parser.min.js"></script>
  <script src="js/nt-parser.js"></script>
  <script src="js/directives/settings.js"></script>

  <script src="js/directives/greek/debug.js"></script>
  <script src="js/directives/greek/parsing.js"></script>
  <script src="js/directives/greek/definitions.js"></script>
  <script src="js/directives/greek/adjectives.js"></script>
  <script src="js/directives/greek/adverbs.js"></script>
  <script src="js/directives/greek/articles.js"></script>
  <script src="js/directives/greek/conjunctions.js"></script>
  <script src="js/directives/greek/nouns.js"></script>
  <script src="js/directives/greek/indefinite-pronouns.js"></script>
  <script src="js/directives/greek/relative-pronouns.js"></script>
  <script src="js/directives/greek/prepositions.js"></script>
  <script src="js/directives/greek/verbs.js"></script>

  <meta charset=utf-8 />
  <title>Greek New Testament</title>
</head>
<body ng-controller="StudyGreek">
  <div ng-show="begUserToUpgradeTheirBrowser" style="text-align: center; padding: 18%;font-size: 1.7em">
    Your browser is not supported. Please <a href="http://browsehappy.com/">upgrade</a>.
  </div>

  <div ng-hide="begUserToUpgradeTheirBrowser">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container" style="padding: 0;">
        <form class="navbar-form navbar-left" role="search" style="padding: 0;">
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="John 3:16" ng-model="referenceQuery" ng-keydown="handleReferenceQueryKeydown($event)" autofocus>
          </div>
        </form>
        <div ng-click="showSettings = !showSettings" class="pull-right" style="font-size: 1.8em;vertical-align: middle;line-height: 60px;color: #444;">
          <i class="fa fa-cog"></i>
        </div>
      </div>
    </nav>
    <div class="container">
      <div ng-show="showSettings">
        <settings settings=settings ></settings>
      </div>

      <form role="form" class="form-horizontal" style="margin-top: 14px">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  κοινή
                  <div class="parse-info">
                    <i class="glyphicon glyphicon-question-sign"></i>
                  </div>
                </div>
                <div class="panel-body" style="font-size: 2.4em">
                  <div ng-hide="secondLanguage.length" style="color: #ddd;">
                    <i class="fa fa-spinner fa-spin"></i>
                  </div>
                  <span ng-repeat="word in secondLanguage">
                    <span class="word" ng-class="{active: selectedWord === word}" ng-mouseenter="selectWord(word)" ng-click="stickySelectWord($event,word)" ng-keydown="handleKeydown($event,word)" ng-keypress="handleKeypress($event,word)" tabindex="0">{{word.versions.text}}</span>
                    <span class="space"> </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="selectedWord">
          <parsing selected-word=selectedWord parsing=parsing />
        </div>
        <div ng-show="sticky">
          <div class="form-group" ng-show="selectedWord && wordData.definitions.mounce">
            <definitions selected-word=selectedWord word-data=wordData />
          </div>
          <div class="form-group" ng-show="selectedWord">
            <div class="row">
              <div class="col-sm-12">
                <!-- pre>
                person: {{selectedWord.parsingCode[0]}}
                tense: {{selectedWord.parsingCode[1]}}
                voice: {{selectedWord.parsingCode[2]}}
                mood: {{selectedWord.parsingCode[3]}}
                case: {{selectedWord.parsingCode[4]}}
                number: {{selectedWord.parsingCode[5]}}
                gender: {{selectedWord.parsingCode[6]}}
                degree: {{selectedWord.parsingCode[7]}}
                </pre-->

                <div ng-show="selectedWord.partOfSpeech == 'Article'">
                  <articles selected-word=selectedWord word-data=wordData />
                </div>

                <div ng-show="selectedWord.partOfSpeech == 'Adjective'">
                  <adjectives selected-word=selectedWord word-data=wordData />
                </div>

                <div ng-show="selectedWord.partOfSpeech == 'Noun'">
                  <nouns selected-word=selectedWord word-data=wordData />
                </div>

                <div ng-show="selectedWord.partOfSpeech == 'Adverb'">
                  <adverbs selected-word=selectedWord word-data=wordData />
                </div>

                <div ng-show="selectedWord.partOfSpeech == 'Conjunction'">
                  <conjunctions selected-word=selectedWord word-data=wordData />
                </div>

                <div ng-show="selectedWord.partOfSpeech == 'Preposition'">
                  <prepositions selected-word=selectedWord word-data=wordData />
                </div>

                <div ng-show="selectedWord.partOfSpeech == 'Verb'">
                  <verbs selected-word=selectedWord word-data=wordData />
                </div>

                <div ng-show="selectedWord.partOfSpeech == 'Relative Pronoun'">
                  <relative-pronouns selected-word=selectedWord word-data=wordData />
                </div>

                <div ng-show="selectedWord.partOfSpeech == 'Indefinite Pronoun'">
                  <indefinite-pronouns selected-word=selectedWord word-data=wordData />
                </div>

                <div ng-show="selectedWord.partOfSpeechCode == '--'">
                  <pre>{{selectedWord | json}}</pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
