@import "reset";
@import "x-flex";

@import "word-info";

* { box-sizing: border-box }

body {
  background-color: #F6EDDF;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
background-color: #FFFCF0;
}

.main {
  @extend %flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bible-main {
  @extend %flex;
}

.bible-chapter {
  @extend %flex-1;
  padding-top: 42px;
  padding-bottom: 42px;
  font-size: 1.2rem;
  line-height: 2rem;
  overflow-y: scroll;
}

.bible-main-right-section {
  @extend %flex;
  @extend %flex-column;
  @extend %flex-1;
}

.bible-paragraph {
  width: 600px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.bible-verse-number {
  display: none;
}

.bible-word {
  text-decoration: none;
  color: black;
}

.bible-word.active {
  background-color: #1471D2;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #1470D2),
    color-stop(1, #1453D1)
  );
  background-image: -o-linear-gradient(bottom, #1470D2 0%, #1453D1 100%);
  background-image: -moz-linear-gradient(bottom, #1470D2 0%, #1453D1 100%);
  background-image: -webkit-linear-gradient(bottom, #1470D2 0%, #1453D1 100%);
  background-image: -ms-linear-gradient(bottom, #1470D2 0%, #1453D1 100%);
  background-image: linear-gradient(to bottom, #1470D2 0%, #1453D1 100%);
  color: white;
  border-radius: 3px;
}

.bible-books-menu {
  width: 160px;
  background-color: #2B3956;
  color: white;
  overflow-y: scroll;
}

.bible-books-menu-list {
  line-style: none;
}

.bible-books-menu a {
  text-decoration: none;
  display: block;
  padding: 5px 8px;
  color: #AFBED1;
}

.bible-books-menu li:first-of-type {
  padding-top: 8px;
}

.bible-books-menu li:last-of-type {
  padding-bottom: 8px;
}

.bible-books-menu a:hover {
  color: white;
}

.bible-books-menu a.active {
  color: white;
}
