.bible-parsing-categories {
  @extend %inline-flex;
  @extend %flex-wrap;
  // -webkit-column-count: 3; /* Chrome, Safari, Opera */
  // -moz-column-count: 3; /* Firefox */
  // column-count: 3;
}

.bible-parsing-category {
  margin-top: 12px;
  margin-bottom: 12px;
  min-width: 27%;
  margin-right: 20px;
}

.bible-parsing-category-label {
  font-size: .8rem;
  color: darken(#FFFCF0,60);
}
