.bible-word-info {
  @extend %flex-2;
  border-top: 1px solid #D4D1C8;
  overflow-y: auto;
}

.bible-word-info-inner {
  padding: 32px;
  margin: auto;
}

.bible-word-info-inner th {
  text-align: left;
  width: 16%;
  background-color: #F0EBDC;
}

.bible-word-info-inner td {
  width: 28%;
  text-align: left;
}

.bible-word-info-inner th,
.bible-word-info-inner td {
  padding: 5px;
  border: 1px solid #D4D1C8;
  margin: 0;
}

.bible-word-info-inner thead th {
  border-bottom-width: 2px
}

.bible-word-info-inner th:first-of-type {
  border-right-width: 2px
}

/* TODO: flattent this out */
.bible-word-info table {
  font-size: .80rem;
  width: 100%;
  border-collapse: collapse;
}
