$borderColor: darken(#eee,5);

.bible-word-info {
  @extend %flex-3;
  min-width: 350px;
  max-width: 550px;
  background-color: #fafafa;
  border-top: 1px solid $borderColor;
  overflow-y: auto;
  will-change: display, flex;
}

.bible-word-info-inner {
  padding: 32px;
  margin: auto;
}

.bible-word-info-inner th {
  text-align: left;
  width: 16%;
  background-color: white;
}

.bible-word-info-inner td {
  width: 28%;
  text-align: left;
}

.bible-word-info-inner td:not(.bible-form-highlighted) {
  background-color: white;
}

.bible-word-info-inner th,
.bible-word-info-inner td {
  padding: 5px;
  border: 1px solid $borderColor;
  margin: 0;
}

.bible-word-info-inner thead th {
  border-bottom-width: 2px
}

.bible-word-info-inner th:first-of-type {
  border-right-width: 2px
}

.bible-word-info-inner tr:last-of-type th:first-of-type {
  border-bottom-left-radius: 4px;
}

.bible-word-info-inner tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 4px;
}

/* TODO: flattent this out */
.bible-word-info table {
  width: 100%;
  border-collapse: collapse;
}

.bible-paradigms table {
  font-size: .80rem;
}

.bible-panel-heading {
  font-weight: bold;
  margin-top: 14px;
  background-color: darken(#FAFAFA,4);
  text-align: left;
  font-weight: normal;
  padding: 8px;
  border: 1px solid $borderColor;
  border-bottom: 0 none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.bible-morph-category > span {
  text-transform:lowercase;
}

.bible-morph-category > span:first-of-type {
  text-transform:capitalize;
}

.bible-definition td {
  padding: 8px;
}

.bible-word-info .bible-prepositions td,
.bible-word-info .bible-adverbs td,
.bible-word-info .bible-conjunctions td {
  width: 25%;
}
