<div>
	<img src="../img/book.svg" style="margin: 16px;width:36px;height:36px;opacity: 0.05" />
</div>

<div>
	<img src="../img/play.svg" style="margin: 16px;margin-top:0;width:36px;height:36px;opacity: 0.05" />
</div>