<layout class="flex flex-row">
  <nav id="books-menu" class="flex flex-column">
    <div style="text-align: center;">
      {{view App.SearchFieldView type="search" value=searchQuery placeholder="John 3:16" autofocus="autofocus"}}
    </div>
    <books class="flex-1">
      {{#each book in model}}
        {{#link-to 'book' book}}{{book.names.english}}{{/link-to}}
      {{/each}}
    </books>
  </nav>

  <article class="flex-1">
    {{outlet}}
  </article>
</layout>