<div>
  {{chapter}}

  {{#each paragraph in paragraphs}}
  	<p>
  		{{#each verse in paragraph}}
  			{{#each word in verse}}
  				{{word}}
  			{{/each}}
  		{{/each}}
  	</p>
  {{/each}}

  {{outlet}}
</div>