<h2>New Testament</h2>
<ul>
  <li>{{#link-to 'book' 'Matthew'}}Matthew{{/link-to}}</li>
  <li>{{#link-to 'book' 'Mark'}}Mark{{/link-to}}</li>
  <li>{{#link-to 'book' 'Luke'}}Luke{{/link-to}}</li>
  <li>{{#link-to 'book' 'John'}}John{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'book' 'Acts'}}Acts{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'book' 'Romans'}}Romans{{/link-to}}</li>
  <li>{{#link-to 'book' '1Corinthians'}}1 Corinthians{{/link-to}}</li>
  <li>{{#link-to 'book' '2Corinthians'}}2 Corinthians{{/link-to}}</li>
  <li>{{#link-to 'book' 'Galatians'}}Galatians{{/link-to}}</li>
  <li>{{#link-to 'book' 'Ephesians'}}Ephesians{{/link-to}}</li>
  <li>{{#link-to 'book' 'Philippians'}}Philippians{{/link-to}}</li>
  <li>{{#link-to 'book' 'Colossians'}}Colossians{{/link-to}}</li>
  <li>{{#link-to 'book' '1Thessalonians'}}1 Thessalonians{{/link-to}}</li>
  <li>{{#link-to 'book' '2Thessalonians'}}2 Thessalonians{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'book' '1Timothy'}}1 Timothy{{/link-to}}</li>
  <li>{{#link-to 'book' '2Timothy'}}2 Timothy{{/link-to}}</li>
  <li>{{#link-to 'book' 'Titus'}}Titus{{/link-to}}</li>
  <li>{{#link-to 'book' 'Philemon'}}Philemon{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'book' 'Hebrews'}}Hebrews{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'book' 'James'}}James{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'book' '1Peter'}}1 Peter{{/link-to}}</li>
  <li>{{#link-to 'book' '2Peter'}}2 Peter{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'book' '1John'}}1 John{{/link-to}}</li>
  <li>{{#link-to 'book' '2John'}}2 John{{/link-to}}</li>
  <li>{{#link-to 'book' '3John'}}3 John{{/link-to}}</li>
</ul>

<ul>
  <li>{{#link-to 'book' 'Jude'}}Jude{{/link-to}}</li>
</ul>


<ul>
  <li>{{#link-to 'book' 'Revelation'}}Revelation{{/link-to}}</li>
</ul>
